<mat-card>
  <form #houseForm="ngForm" (ngSubmit)="save(houseForm.value)">
    <mat-card-header>
      <mat-card-title><h2>{{house.name ? 'Edit' : 'Add'}} house</h2></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <input type="hidden" name="href" [(ngModel)]="house.href">
<!--      <mat-form-field>-->
<!--        <h1>Giá</h1>-->
<!--        <input matInput placeholder="" [(ngModel)]="house.price"-->
<!--               required name="price" #price>-->
<!--      </mat-form-field>-->
      <div class="form-row" style="margin-right:0px;margin-left:0px;padding-top:24px;">
        <div class="col-md-8 offset-md-1">
          <p style="margin-left:2%;font-family:Roboto, sans-serif;font-size:24px;"><strong>Tên nhà</strong></p>
        </div>
        <div class="col-md-10 offset-md-1"><input [(ngModel)]="house.name"
                                                  class="form-control"
                                                  placeholder="Number"
                                                  style="font-family:Roboto, sans-serif;" required name="name" #name>
        </div>
      </div>
      <div class="form-row" style="margin-right:0px;margin-left:0px;padding-top:24px;">
        <div class="col-md-8 offset-md-1">
          <p style="margin-left:2%;font-family:Roboto, sans-serif;font-size:24px;"><strong>Số lượng phòng ngủ</strong></p>
        </div>
        <div class="col-md-10 offset-md-1"><input [(ngModel)]="house.bedRoomQuantity"
                                                  type="number" step="1"
                                                  min="1"
                                                  class="form-control"
                                                  placeholder="Number"
                                                  style="font-family:Roboto, sans-serif;" name="bedRoomQuantity" #bedRoomQuantity>
        </div>
      </div>
      <div class="form-row" style="margin-right:0px;margin-left:0px;padding-top:24px;">
        <div class="col-md-8 offset-md-1">
          <p style="margin-left:2%;font-family:Roboto, sans-serif;font-size:24px;"><strong>Số lượng phòng Tắm</strong></p>
        </div>
        <div class="col-md-10 offset-md-1"><input [(ngModel)]="house.bathRoomQuantity"
                                                  type="number" step="1"
                                                  min="1"
                                                  class="form-control"
                                                  placeholder="Number"
                                                  style="font-family:Roboto, sans-serif;" name="bathRoomQuantity" #bathRoomQuantity>
        </div>
      </div>
      <div class="form-row" style="margin-right:0px;margin-left:0px;padding-top:24px;">
        <div class="col-md-8 offset-md-1">
          <p style="margin-left:2%;font-family:Roboto, sans-serif;font-size:24px;"><strong>Mô tả</strong></p>
        </div>
        <div class="col-md-10 offset-md-1"><input [(ngModel)]="house.description"
                                                  class="form-control"
                                                  placeholder="Number"
                                                  style="font-family:Roboto, sans-serif;" name="description" #description>
        </div>
      </div>
      <div class="form-row" style="margin-right:0px;margin-left:0px;padding-top:24px;">
        <div class="col-md-8 offset-md-1">
          <p style="margin-left:2%;font-family:Roboto, sans-serif;font-size:24px;"><strong>Giá (theo tháng)</strong></p>
        </div>
        <div class="col-md-10 offset-md-1"><input [(ngModel)]="house.price"
                                                  type="number" step="0.1"
                                                  min="1"
                                                  class="form-control"
                                                  placeholder="Number"
                                                  style="font-family:Roboto, sans-serif;" name="price" #price>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit"
              [disabled]="!houseForm.form.valid">Save
      </button>
      <button mat-raised-button color="secondary" (click)="remove(house.href)"
              *ngIf="house.href" type="button">Delete
      </button>
      <a mat-button routerLink="/house-list">Cancel</a>
    </mat-card-actions>
    <mat-card-footer>
    </mat-card-footer>
  </form>
</mat-card>
